* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 1px solid #777877;
  clear: both;
}

.first-sections {
  height: 200px;
  border: 1px solid #777877;
  width: 33.3333%;
  float: left;
}

.second-sections {
 height: 200px;
  border: 1px solid #777877;
  width: 50%;
  float: left;
}
